body {
  background-image: url("/public/kitap.jpg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  flex-direction: column;
   
    background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.modal-wrapperr{
  background-color: white;
  position: fixed;
  top: 5px;
  left: 5px;
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

}

.modall{
  background-color: white;
  padding: 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

